/* color palette: #ffc1b6, #ffdcb8, #ffeebb, #ffffff */
.App,
.WeatherApp {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    #ffc1b6,
    #ffdcb8,
    #ffeebb,
    #ffeebb,
    #ffffff
  );
  background-repeat: no-repeat;
  font-family: "Crimson Text", serif;
  color: #444;
}
